Automation*Studio/* linguist-documentation=false
Automation*Studio/**/* linguist-documentation=false

Documents/* linguist-documentation=false
Documents/**/* linguist-documentation=false

FluidSim/* linguist-documentation=false
FluidSim/**/* linguist-documentation=false

SIMATIC*Manager/* linguist-documentation=false
SIMATIC*Manager/**/* linguist-documentation=false
